.sidebar-nav.navbar-collapse
  %ul#side-menu.nav
    %li
      = link_to theblog.admin_root_path do
        %i.fa.fa-dashboard.fa-fw
        Dashboard

    - [:pages, :posts, :categories, :content_statuses].each do |item|
      %li
        = link_to send("admin_#{item}_path") do
          %i.fa.fa-files-o.fa-fw
          = item.to_s.humanize
