language: ruby
rvm:
  - 2.1.2
addons:
  postgresql: "9.3"
script:
  - bundle exec rake db:migrate
  - bundle exec rake spec
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - cp spec/dummy/config/database.yml.travis spec/dummy/config/database.yml
sudo: false
cache: bundler
