%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %i.fa.fa-user.fa-fw
    %i.fa.fa-caret-down
  %ul.dropdown-menu.dropdown-user
    %li
      %a{:href => "#"}
        %i.fa.fa-user.fa-fw
        User Profile
    %li
      %a{:href => "#"}
        %i.fa.fa-gear.fa-fw
        Settings
    %li.divider
    %li
      = link_to incarnator.destroy_account_session_path, method: :delete do
        %i.fa.fa-sign-out.fa-fw
        Sign Out
  / /.dropdown-user
/ /.dropdown
/ /.navbar-top-links
