= simple_form_for [:admin, item] do |f|

  - model_params.each do |field|
    = bootstrap_input(f, field)

  - model_associations.each do |association|
    = f.association association,
      wrapper_html: { class: 'form-group' },
      input_html:   { class: 'form-control' }

  = f.button :submit, class: 'btn btn-success'
